*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../Fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/poppins/poppins-semibold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/poppins/poppins-light-webfont.woff2') format('woff2');
}
body{
    font-family: poppins;
}
:root{
    --color_C90000:#C90000;
    --color_7D7C7C:#7D7C7C;
    --color_FFFFFF:#FFFFFF;
    --color_323232:#323232;
    --color_504F4F:#504F4F;
    --color_FFC300:#FFC300;
    --color_F1F1F1:#F1F1F1;
    --color_E3E3E3:#E3E3E3;
    --color_FFEAE6:#FFEAE6;
}
.container{
    max-width: 1171px;
    margin: 0 auto;
}
.header_grid{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    align-items: center;
    margin:.5rem;
}
.main_logo img{
    width: 54px;
    height: 56px;
}
.header_menu ul{
    display: flex;
    gap: 48px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    margin-left: -10px;
}
.header_menu ul li:first-child{
    color: var(--color_C90000);
}
.header_menu ul li{
    color: var(--color_7D7C7C);
    cursor: pointer ;
}
.header_buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.header_buttons button{
    padding: 7px 16px 8px 16px;
    border-radius: 100px;
    cursor: pointer;
    height: 39px;
    width: 85px;
}
.header_buttons button:first-child{
    border: 1px solid var(--color_C90000);
    color: #C90000;
    background-color: #FFFFFF;
}
.header_buttons button:last-child{
    border: none;
    color: var(--color_FFFFFF);
    background-color: var(--color_C90000);
    max-width: ;
}
.burger_menu{
    display: none;
    cursor: pointer;
}
@media(max-width:831px) {
    .header_menu{
        display: none;
    }
    .burger_menu{
        display: flex;
        justify-content: flex-end;
    }
    .burger_menu img{
        height:35px;
    }
    .header_grid{
        grid-template-columns: repeat(3,1fr);
    }
}